body{
    background-color: rgb(105, 173, 105);
    padding:3%;
    padding-top: 1%;
}

header {
    text-align: center;
    color:rgba(53, 161, 26, 0.904);
}


.banner {
    width: 100%;
    height: 300px;
} 
